@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Email: phuchy220284@gmail.com<br />
    Skype: phuchy1992<br />
    <abbr title="Phone">Phone:</abbr>
    01648363087
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:phuchy220284@gmail.com">phuchy220284@gmail.com</a><br />
</address>